@model TH_BigSchool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}
    <style>
        .attending-content {
            padding: 50px 0;
        }

        hr {
            margin: 5px 0px;
        }
        .Items{
            margin-bottom : 20px;
            list-style: none;
          display: flex;
            /*justify-content: space-around;*/
        }
        .Date {
            text-align: center;
            background-color: rebeccapurple;
            color: white;
            width: 60px;
            border-radius: 8px;
        }

        .Month, .Day {
            padding: 10px 0px;
        }

       
        .Details {
            display: flex;
           align-items: center;
            
        }
        .Lecturer, .Category {
            margin : 0px 10px;
        }
        
    </style>
<div class="row attending-content">
    <h3>List Courses</h3>
    <ul class="Course" id="native">
        @foreach (var course in Model.UpCommingCourses)
        {
          
            
                <li class="Items">
                    <div class="Date">
                        <div class="Month">
                            @course.DateTime.ToString("MM")
                        </div>
                        <hr />
                        <div class="Day">
                            @course.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="Details">
                        <div class="Lecture-content">
                            <span class="Lecturer">
                                @course.Lecturer.Name
                            </span>


                            @if (Model.ShowAction)
                            {
                                <button class="btn btn-danger btn-sm js-toggle-follow" data-user-id="@course.LecturerId">
                                    Follow
                                </button>
                            }
                        </div>

                        <div class="Course-content">
                            <span class="Category">
                                @course.Category.Name
                            </span>
                            @if (Model.ShowAction)
                            {
                                <button data-course-id="@course.Id"
                                        class="btn btn-danger btn-sm js-toggle-attendance">
                                    Going
                                </button>
                            }
                        </div>
                        <div class="detail-list">
                          
                                <button data-course-id="@course.Id">
                                   @Html.ActionLink("Detail","DetailList","Courses",new { id = course.Id},null)
                                </button>
                           
                        </div>

                    </div>
                </li>
            

        }
    </ul>

    @section Scripts
        {
       <script>
           $(document).ready(function () {

               $(".js-toggle-attendance").click(function (e) {
                //   alert("nam");
                   var button = $(e.target);
                 
                   $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                       .done(function () {
                           button
                               .removeClass("btn-danger")
                               .addClass("btn-info")
                               .text("IsGoing");
                       })
                       .fail(function () {
                           alert("some thing failed");
                       });
               });

               $(".js-toggle-follow").click(function (e) {
                   //alert("nam");
                   var button = $(e.target);
                   $.post("/api/Followings", { followeeId: button.attr("data-user-id") })
                       .done(function () {
                           button.text("Following");
                       })
                       .fail(function () {
                           alert("some thing failed");
                       });
               });


           });

        </script> 

       }
</div>
