@model IEnumerable<TH_BigSchool.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    .course > li .action {
        left: 70px;
        position: absolute;
        color: black;
        border: 1px solid black;
    }

    .course > li:hover .action {
        display: block;
        background-color: orange;
        color: white;
        border: 1px solid white;
    }
</style>

<div class="row">
    <h2>List Courses</h2>
    <ul class="course" id="native">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">

                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>

                    <span class="category">
                        @course.Category.Name

                        </span>
</div>
                <div class="action">
                    <a href="@Url.Action("EditCourse","Courses",new { id=course.Id},null)">Edit</a> |
                    @if (course.IsCanceled)
                    {
                        <a href="" class="js-canceled-course" data-course-id="@course.Id">
                            Canceled
                        </a>
                    }
                    else
                    {
                        <a href="" class="js-cancel-course" data-course-id="@course.Id">
                            Cancel
                        </a>
                    }

                </div>
            </li>
        }
    </ul>


</div>
@section Scripts
        {
    <script>
        $(document).ready(function () {

            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to cancel?",
                    function () {
                        $.ajax({
                            url: "/api/Courses/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                //link.parents("li").fadeOut(function () {
                                //    $(this).remove();
                                //});
                                link.text("Canceled");
                            })
                            .fail(function () {
                                alert("Somrthing fail");
                            })
                    });

            });
             $(".js-canceled-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to reopen?",
                    function () {
                        $.ajax({
                            url: "/api/Courses/" + link.attr("data-course-id"),
                            method: "PUT"
                        })
                            .done(function () {
                                //link.parents("li").fadeOut(function () {
                                //    $(this).remove();
                                //});
                                link.text("Cancel");
                            })
                            .fail(function () {
                                alert("Somrthing fail");
                            })
                    });

            });

  });


    </script>

}