@model IEnumerable<TH_BigSchool.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    .course > li .action{
       
        left:70px;
        position : absolute;
        color : black;
        border : 1px solid black;
    }
    .course > li:hover .action {
        display : block;
        background-color : orange;
        color: white;
        border : 1px solid white;
    }
</style>

    <div class="row">
        <h2>List Courses</h2>
        <ul class="course" id="native">
            @foreach (var course in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details">

                        <span class="lecturer">
                            @course.Lecturer.Name
                        </span>

                        <span class="category">
                            @course.Category.Name
                      

                    </div>
                    <div class="action">
                        <a href="@Url.Action("Edit","Courses",new { id=course.Id},null)">Edit</a> |
                        <a href="@Url.Action("Delete","Courses",new { id=course.Id},null)">Delete</a>
                    </div>
                </li>
            }
        </ul>

        @section Scripts
        {
            <script>
                $(document).ready(function () {

                    $(".js-toggle-attendance").click(function (e) {
                        //   alert("nam");
                        var button = $(e.target);

                        $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                            .done(function () {
                                button
                                    .removeClass("btn-danger")
                                    .addClass("btn-info")
                                    .text("IsGoing");
                            })
                            .fail(function () {
                                alert("some thing failed");
                            });
                    });

                    $(".js-toggle-follow").click(function (e) {
                        //alert("nam");
                        var button = $(e.target);
                        $.post("/api/Followings", { followeeId: button.attr("data-user-id") })
                            .done(function () {
                                button.text("Following");
                            })
                            .fail(function () {
                                alert("some thing failed");
                            });
                    });


                });

            </script>

        }
    </div>
